body {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
select {
  margin: 0.4rem 0;
  min-width: 40%;
  font-size: large;
}

label {
  margin: 0.4rem 0;
}

html {
  max-width: 85ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  /* width: 480px; */
  font-family: sans-serif;
  margin: 50px auto;
  padding: 20px;
}

#drop-area.highlight {
  border-color: purple;
}

p {
  margin-top: 0;
}

.my-form {
  margin-bottom: 10px;
}

#gallery {
  margin-top: 10px;
}

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}

#fileElem {
  display: none;
}

#color {
  max-width: 60%;
}

img {
  margin: 10px;
  max-width: 60%;
}

.largeImg{
  min-width: 100% !important;
}

.propertyString {
  background-color: #1d1d1d;
  color: white;
  margin: 0.8rem 0;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

a {
  font-weight: 900;
}

table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr {
  text-align: left;
}

th, td {
    padding: 12px 15px;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}